<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="mi_ViewOpenPorts.Checked" value="False" />
		<add key="mi_ViewClosedPorts.Checked" value="False" />
		<add key="mi_ViewEventLog.Checked" value="False" />
		<add key="mi_ViewMailLog.Checked" value="False" />
		<add key="mi_ViewStmpStatus.Checked" value="False" />
	</appSettings>
</configuration>